.todo-input-component{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  textarea {
    width: 100%;
  }
  .mat-form-field-container{
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  .mat-progress-bar{
    width: 100px;
  }
  @media (min-width: 450px){
    .mat-form-field-container{
      width: calc(100% - 105px);
    }
  }
}
