<div class="todo-input-component">
  <div class="mat-form-field-container">
    <mat-form-field appearance="legacy">
      <mat-label>Entrer votre tache</mat-label>
      <textarea
        autofocus
        matInput
        required
        rows="1"
        #input
        [(ngModel)]="newTodoLabel"
      > </textarea>
    </mat-form-field>
  </div>
  <ng-container *ngIf="loadingAction; else elseTemplate">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-template #elseTemplate>
    <div>
      <button
        mat-icon-button
        matTooltip="Enregistrer"
        color="primary"
        [disabled]="!newTodoLabel"
        (click)="onConfirm()"
      >
        <mat-icon>done</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Annuler"
        color="primary"
        (click)="onCancel()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
