<mat-dialog-content class="mat-typography">
  Voulez-vous vraiment supprimer cette tâche ?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="loading" mat-button mat-dialog-close>Annuler</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="loading"
    (click)="onConfirm()"
  >
    <ng-container *ngIf="loading; else elseTemplate">
      <mat-spinner diameter="20" class="confirm-loading"></mat-spinner>
    </ng-container>
    <ng-template #elseTemplate>
      <span>Supprimer</span>
    </ng-template>
  </button>
</mat-dialog-actions>
