<mat-dialog-content class="mat-typography">
  Voulez-vous vraiment vous déconnecter ?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    (click)="onConfirmLogout()"
  >
    Me déconnecter
  </button>
</mat-dialog-actions>
