<div class="header-component">
  <mat-toolbar color="primary">
    <h1>My TODO</h1>
    <span class="spacer"></span>
    <div class="d-flex mx-auto">
      <div>
        <small>Vous êtes connecté en tant que</small>
        <p class="username">
          <strong> {{ authUsername }} </strong>
        </p>
      </div>
      <img src="assets/images/user.png" alt="icone-d-un-bonhomme" class="icon-user">
    </div>
  </mat-toolbar>
</div>
