
.header-component{
  text-align: center;
  flex-wrap: wrap;
  mat-toolbar {
    flex-wrap: wrap;
    height: auto;
    .icon-user{
      display: none;
    }
  }
  h1 {
    color: var(--yellow);
    width: 100%;
  }
  p {
    font-size: 14px;
    line-height: 14px;
    margin: 0px;
  }
  small {
    font-size: 12px;
    line-height: 12px;
  }
  .spacer{
    flex: auto;
  }
  .icon-user {
    border-radius: 50%;
    width: 50px;
    margin-left: 25px;
  }
  .username {
    color: var(--yellow);
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    bottom: 50px;
    text-align: left;
    mat-toolbar {
      height: 64px;
      .icon-user{
        display: block;
      }
      .username {
        margin-bottom: 0px;
      }
    }
    h1 {
      width: auto;
    }
    .logout-button {
      right: 50px;
    }
  }
}
