.login-component {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url("/assets/images/yellow-list-top-view-min.jpg");
  background-size: cover;
  .login-mat-card {
    width: 90%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 0px;
    border-top: 8px solid var(--yellow);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    border-radius: 4px;
    .title-mat-card {
      position: absolute;
      box-shadow: none;
      margin-bottom: 20px;
      background-image: linear-gradient(#3f51b5, yellow);
      padding: 20px 0px;
      height: 80px;
      width: 80px;
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) ;
      mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        color: white;
      }
    }
    .mat-form-field {
      width: 100%;
      max-width: 300px;
    }
  }
  .login-button-container {
    margin-top: 30px;
    .login-loading{
      margin: 10px;
      ::ng-deep circle {
        stroke: white;
      }
    }
  }
}
