<div class="login-component">
  <mat-card class="login-mat-card">
      <mat-card elevation="0" color="primary" class="title-mat-card">
        <mat-icon>lock</mat-icon>
      </mat-card>
      <div class="pa-4">
        <br><br>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Nom d'utilisateur</mat-label>
              <input
                matInput
                placeholder="Entrer le nom d'utilisateur"
                formControlName="login"
                autocomplete="username"
              >
              <mat-icon matSuffix color="primary">person_outline</mat-icon>
              <mat-error
                *ngIf="loginForm.controls['login'].invalid"
              >
                <span *ngIf="loginForm.controls['login'].hasError('required')">Le nom d'utilisateur est obligatoire</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input
                matInput
                placeholder="Entrer le mot de passe"
                formControlName="password"
                type="password"
                autocomplete="current-password"
              >
              <mat-icon matSuffix color="primary">lock_outline</mat-icon>
              <mat-error
                *ngIf="loginForm.controls['password'].invalid"
              >
                <span *ngIf="loginForm.controls['password'].hasError('required')">Le mot de passe est obligatoire</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="login-button-container">
            <button
              color="primary"
              mat-raised-button
            >
              <div>
                <ng-container *ngIf="loginLoading; else elseTemplate">
                  <mat-spinner diameter="20" class="login-loading"></mat-spinner>
                </ng-container>
                <ng-template #elseTemplate>
                  <span>Se connecter</span>
                </ng-template>
              </div>
            </button>
          </div>
        </form>
      </div>
  </mat-card>
</div>
