.home-component {
  mat-spinner {
    margin-top: 30px !important;
  }
  .wrapper-todo-list-done, .wrapper-todo-list-title{
    width: 90%;
    margin: auto;
    max-width: var(--container-max-width);
    .title{
      align-items: center;
      display: flex;
      mat-chip-list {
        margin: 5px 0px 5px 5px ;
      }
    }
  }
  .wrapper-todo-list-title {
    mat-card {
      width: 178px;
      margin-top: 30px;
    }
  }
  .placeholder-buttons-action-page{
    height: 200px
  }
}
