<div class="home-component">
  <app-header></app-header>

  <mat-spinner *ngIf="todoListLoading" strokeWidth="5" class="ma-auto"></mat-spinner>

  <div class="wrapper-todo-list-title" *ngIf="todoListNotDone.length > 0">
    <mat-card class="title">
      <span> Tâches non terminées </span>
      <mat-chip-list>
        <mat-chip> {{ todoListNotDone.length}} </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>

  <app-todo-list [todoList]="todoListNotDone"></app-todo-list>


  <div class="wrapper-todo-list-done" *ngIf="todoListDone.length > 0">
    <br>
    <button
      mat-raised-button
      color="primary"
      (click)="expandedTodoListDone = !expandedTodoListDone"
    >
      <div class="title">
        <mat-icon *ngIf="!expandedTodoListDone">expand_more</mat-icon>
        <mat-icon *ngIf="expandedTodoListDone">expand_less</mat-icon>
        &nbsp;&nbsp;
        <span> Tâches terminées </span>
        <mat-chip-list>
          <mat-chip> {{ todoListDone.length}} </mat-chip>
        </mat-chip-list>
      </div>
    </button>

    <mat-expansion-panel [expanded]="expandedTodoListDone">
      <app-todo-list [todoList]="todoListDone"></app-todo-list>
    </mat-expansion-panel>
  </div>

  <div class="placeholder-buttons-action-page"></div>

  <app-buttons-action-page></app-buttons-action-page>
</div>
