.todo-list-component{
  width: 90%;
  max-width: var(--container-max-width);
  margin: auto;
  .todo {
    margin: 0px 20px;
    &::nth-child(2n + 1) {
      background-color: #eee;
      ::ng-deep {
        .mat-card {
          background-color: #eee;
        }
      }
    }
  }
}
