.buttons-action-page-component{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0px -20px 20px 20px white;
  .add-todo{
    display: flex;
    align-items: center;
    max-width: var(--container-max-width);
    width: 90%;
    box-sizing: border-box;
    background-color: var(--yellow);
    mat-icon {
      margin-right: 10px;
    }
  }
  .logout-button {
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  app-todo-input{
    width: 100%;
  }
  @media (min-width: 768px) {
    padding-bottom: 50px;
    .logout-button {
      right: 50px;
      bottom: 50px;
    }
  }
}
