<div class="buttons-action-page-component">
  <mat-card
    color="primary"
    class="add-todo"
  >
    <ng-container *ngIf="modeAdd; else elseTemplate">
      <app-todo-input
        (cancelEvent)="modeAdd = false"
      ></app-todo-input>
    </ng-container>
    <ng-template #elseTemplate>
      <button
        mat-button
        class="d-flex align-content-center"
        (click)="modeAdd = true"
      >
        <mat-icon>add</mat-icon>
        <span>Ajouter une tache</span>
      </button>
    </ng-template>
  </mat-card>

  <button
    mat-fab
    matTooltip="Deconnexion"
    color="primary"
    class="logout-button"
    (click)="onLogout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</div>
