/* You can add global styles to this file, and also import other style files */
@import './assets/scss/_variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pa-4 {
  padding: 16px !important;
}
.d-flex {
  display: flex !important;
}

.align-content-center {
  align-items: center !important;
}

.ma-auto {
  margin: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
