<mat-card>
  <div class="wrapper-content">
    <ng-container *ngIf="modeAdd; else elseTodoTemplate">
      <app-todo-input
        [todo]="todo"
        (cancelEvent)="modeAdd = false"
      ></app-todo-input>
    </ng-container>
    <ng-template #elseTodoTemplate>
      <p class="todo-data">
        <small class="date-todo"> {{ todo?.todo_date | date:'medium' }} </small> <br>
        {{ todo?.todo_label }}
      </p>

      <ng-container *ngIf="loadingAction; else elseActionTemplate">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>
      <ng-template #elseActionTemplate>
        <div>
          <button
            *ngIf="!todo?.todo_is_done"
            mat-stroked-button
            matTooltip="Marquer comme terminé"
            color="primary"
            (click)="onMarkAsCompleted()"
          >
            Terminer
            <mat-icon>done_all</mat-icon>
          </button>

          <button
            *ngIf="todo?.todo_is_done"
            mat-icon-button
            matTooltip="Marquer comme non terminé"
            color="primary"
            (click)="onMarkAsNoCompleted()"
          >
            <mat-icon>remove_done</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Modifier"
            color="primary"
            (click)="modeAdd = true"
          >
            <mat-icon>edit_outline</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Supprimer"
            color="warn"
            (click)="onDelete()"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>

        </div>
      </ng-template>
    </ng-template>

  </div>
</mat-card>
