.wrapper-content{
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  .date-todo{
    color: #aaa;
  }
  .mat-progress-bar{
    width: 100px;
  }
  app-todo-input {
    width: 100%;
  }
  .todo-data{
    width: 100%;
  }
  @media (min-width: 450px){
    .todo-data{
      width: auto;
    }
  }
}
